<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation Email to Kids App SASS</title>
</head>
<body>
    <h1>Invitation to Our Website</h1>
    <p>Hello!</p>
    <p>You are invited to our website.</p>
    <p>Click <a href=`<%= invitationUrl %>`>here</a> to accept the invitation!</p>
    <p>We look forward to seeing you there!</p>
</body>
</html>